<input id="local-version" type="hidden" val="" />
<input id="web-version" type="hidden" val="" />
<!-- 编辑器 -->
<div id="md-left">
    <!-- 编辑器工具栏 -->
    <nav id="md-editor-bar" class = "md-nav">
        <ul class="md-button-group">
            <li class="md-spacer"></li>
            <li class="md-button"><span title="粗体" class="glyphicon glyphicon-bold"></span></li>
            <li class="md-button"><span title="斜体" class="glyphicon glyphicon-italic"></span></li>
            <li class="md-button"><span title="划掉" class="glyphicon glyphicon-minus"></span></li>
            <li class="md-spacer"></li>
            <li class="md-button"><span title="超链接" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#linkModal"></span></li>
            <li class="md-button"><span title="段落引用" class="glyphicon glyphicon-chevron-right"></span></li>
            <li class="md-button"><span title="代码样例" class="glyphicon glyphicon-console"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-picture"></span></li>
            <li class="md-spacer"></li>
            <li class="md-button"><span class="glyphicon glyphicon glyphicon-list-alt"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-list"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-header"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-option-horizontal"></span></li>
            <li class="md-spacer"></li>
            <li class="md-button"><span class="glyphicon glyphicon-arrow-left"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-arrow-right"></span></li>
        </ul>
    </nav>
    <!-- 编辑器 -->
    <div id="md-editor"></div>
</div>

<!-- 预览界面 -->
<div id="md-right">
    <nav id="md-preview-bar" class = "md-nav">
        <ul class="md-button-group">
            <li class="md-spacer"></li>
            <li class="md-button"><span>注册</span></li>
            <li class="md-button"><span>登陆</span></li>
            <li class="md-spacer"></li>
            <li class="md-button"><span title="保存" class="glyphicon glyphicon-floppy-save"></span></li>
            <li class="md-button"><span title="同步" class="glyphicon glyphicon-cloud-upload"></span></li>
            <li class="md-button"><span title="发步" class="glyphicon glyphicon-send"></span></li>
            <li class="md-button">
                <div class="dropdown">
                    <span title="本地文稿" class="glyphicon glyphicon-align-justify dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <!-- 预览内容 -->
    <div id="md-preview"></div>
</div>

<!-- 链接弹出框 -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:250px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">链接</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">请输入链接地址:</label>
                        <input type="text" class="form-control" id="link_value" placeholder='http://example.com/ "可选标题"' />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-primary" id="add_link_sure">确认
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 保存弹出框 -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:250px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">保存</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">请输入标题:</label>
                        <input type="text" class="form-control" id="blog_title" placeholder='"在此处输入标题"' />
                        <label id="input_alert" style="color:red;font-size:12pt;" ></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-primary" id="local_save_sure">确认
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 保存成功弹出框 -->
<div class="modal fade" id="saveStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:250px;">
        <div class="alert alert-success" role="alert" style="text-align:center;">保存成功</div>
    </div>
</div>

<!-- 替换成功弹出框 -->
<div class="modal fade" id="updateStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:250px;">
        <div class="alert alert-success" role="alert" style="text-align:center;">替换成功</div>
    </div>
</div>


