<!-- 编辑器 -->
<div id="md-left">
    <nav id="md-editor-bar" class = "md-nav">
        <ul>
            <li><span></span></li>
            <li><span></span></li>
        </ul>
    </nav>
    <div id="md-editor"></div>
</div>

<!-- 预览界面 -->
<div id="md-right">
    <nav id="md-preview-bar" class = "md-nav">

    </nav>
    <div id="md-preview">
    </div>
</div>


