<!-- 编辑器 -->
<div id="md-left">
    <!-- 编辑器工具栏 -->
    <nav id="md-editor-bar" class = "md-nav">
        <ul>
            <li class="md-spacer"></li>
            <li class="md-button"><span class="glyphicon glyphicon-bold"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-italic"></span></li>
            <li class="md-spacer"></li>
            <li class="md-button"><span class="glyphicon glyphicon-link"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-chevron-right"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-console"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-picture"></span></li>
            <li class="md-spacer"></li>
            <li class="md-button"><span class="glyphicon glyphicon-list"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-list"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-header"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-option-horizontal"></span></li>
            <li class="md-spacer"></li>
            <li class="md-button"><span class="glyphicon glyphicon-arrow-left"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-arrow-right"></span></li>
        </ul>
    </nav>
    <!-- 编辑器 -->
    <div id="md-editor"></div>
</div>

<!-- 预览界面 -->
<div id="md-right">
    <nav id="md-preview-bar" class = "md-nav">
        <ul>
            <li class="md-spacer"></li>
            <li class="md-button"><span>注册</span></li>
            <li class="md-button"><span>登陆</span></li>
            <li class="md-spacer"></li>
            <li class="md-button"><span class="glyphicon glyphicon-send"></span></li>
            <li class="md-button"><span class="glyphicon glyphicon-floppy-save"></span></li>
        </ul>
    </nav>
    <div id="md-preview">
    </div>
</div>


